<div class="container body-padding">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': literatureType=='poem'}" (click)="onClick('poem')">Poem</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': literatureType=='story'}" (click)="onClick('story')">Story</a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <div *ngIf="isDataLoading" class="spinner-border" style="width: 5rem; height: 5rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-3">
      <div *ngFor="let literatures of literatures; let i=index;">
        <div *ngIf="i <= lastShownLiterature" class="post-preview">
          <a (click)="contentService.openContentById(literatures?._id)">
            <h2 class="post-title">
              {{literatures?.title}}
            </h2>
          </a>
          <p [innerHTML]="(literatures?.body?.length >= 150 ? literatures?.body?.substr(0, 250) + '...' : literatures?.body) | oembed | sanitizeHtml"></p>
          <p class="post-meta">Posted by {{literatures?.author}} on {{literatures?.publishedDate | date}}</p>
          <hr>
        </div>
      </div>
      <div *ngIf="lastShownLiterature < literatures?.length-1" class="clearfix">
        <button class="btn btn-primary float-right" style="margin-bottom: 40px" (click)="olderPosts()">Older Posts &rarr;</button>
      </div>
    </div>
  </div>
</div>
