<div class="container body-padding">
  <h1 id="page-title">Programming Blog</h1>
  <div class="d-flex justify-content-center">
    <div *ngIf="isDataLoading" class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-3">
      <div *ngFor="let blog of blogs; let i=index;">
        <div *ngIf="i <= lastShownBlog" class="post-preview">
          <a (click)="contentService.openContentById(blog?._id)">
            <h2 class="post-title">
              {{blog?.title}}
            </h2>
          </a>
            <p [innerHTML]="(blog?.body?.length >= 250 ? blog?.body?.substr(0, 250) + '...' : blog?.body) | oembed | sanitizeHtml"></p>
          <p class="post-meta">Posted by {{blog?.author}} on {{blog?.publishedDate | date}}</p>
          <hr>
        </div>
      </div>
      <div *ngIf="lastShownBlog < blogs?.length-1" class="clearfix">
        <button class="btn btn-primary float-right" style="margin-bottom: 40px" (click)="olderPosts()">Older Posts &rarr;</button>
      </div>
    </div>
  </div>
</div>

