<app-loading-spinner></app-loading-spinner>
<div class="container body-padding">
  <h1 id="page-title">Login</h1>
  <form [formGroup]="loginForm" style="padding-top: 50px">
    <div class="row">
      <div class="col-lg-4"></div>
      <div fxLayout="column" fxFlex="1 0 auto">
        <div *ngIf="showAlert" class="alert alert-danger" role="alert" style="margin-bottom: 40px">
          Wrong Email or Password!
        </div>
        <mat-form-field>
          <input type="email" matInput formControlName="email" placeholder="Email" required>
          <mat-error *ngIf="loginForm.controls['email'].errors?.required">Email is required.</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors?.pattern">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput formControlName="password" placeholder="Password" required>
          <mat-error *ngIf="loginForm.controls['password'].errors?.required">Password is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-success m-3" [disabled]="loginForm.invalid" (click)="login()">Login</button>
  </div>
  <p class="text-center">Don't have an account? <a [routerLink]="['/register']">Create your account here!</a></p>
</div>


