<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 align-self-center">
      <img class="rounded" src="assets/images/profile-pics/2.jpg" alt="Sudip Sarker" width="100%" height="auto">
    </div>
    <div class="col-lg-6 align-self-center">
      <h2>WELCOME</h2>
      <h3>I AM SUDIP SARKER</h3>
      <p>Passionate about Programming. Working as a Software Engineer having skills in JavaScript, Angular, Node, Express, MongoDB, .NET Core, Web Development.
        Dedicated my student life towards competitive programming. Participated in ICPC, NCPC and other national level contests. I am also a singer and teacher in Chhayanaut.
        Love reading books and watching series, animes in my free time.</p>
      <button type="button" class="btn btn-primary" (click)="onClick()">DISCOVER ME</button>
    </div>
  </div>
</div>
