<footer class="bg-light">
  <div id="footer" class="row">
    <div class="col-2"></div>
    <div class="col-4 align-self-center">SUDIP SARKER ©2019</div>
    <div class="col-3"></div>
    <div class="col-3 align-self-center">
      <a href="https://www.facebook.com/sudip.sarker.9" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/sudip-sarker-0091b014b/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
      <a href="https://github.com/sudip1995" target="_blank"><i class="fa fa-github fa-lg"></i></a>
    </div>
  </div>
</footer>
