/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.body-padding {
  padding-top: 80px;
  padding-bottom: 100px;
}

#page-title {
  text-align: center;
  padding-bottom: 20px;
}

.fa-facebook {
  color: #3b5998;
}
.fa-facebook:hover {
  filter: brightness(150%);
}

.fa-linkedin {
  color: #0976b4;
}
.fa-linkedin:hover {
  filter: brightness(150%);
}

.fa-github {
  color: #333;
}
.fa-github:hover {
  filter: brightness(200%);
}

figure {
  display: flex;
  justify-content: center;
}

.app-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(51,51,51,0.8);
}
.app-loading .spinner-border {
  height: 96px;
  width: 96px;
  position: absolute;
  margin: auto;
  color: #fff;
  border-width: 6px;
}
