<div class="container body-padding">
  <h1 id="page-title">Registration</h1>
  <form [formGroup]="registrationForm" style="padding-top: 50px">
    <div class="row">
      <div fxLayout="column" fxFlex="1 0 auto">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" placeholder="First Name" required>
          <mat-error *ngIf="registrationForm.controls['firstName'].errors?.required">First Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" placeholder="Last Name" required>
          <mat-error *ngIf="registrationForm.controls['lastName'].errors?.required">Last Name is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Email" required>
          <mat-error *ngIf="registrationForm.controls['email'].errors?.required">Email is required.</mat-error>
          <mat-error *ngIf="registrationForm.controls['email'].errors?.pattern">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Password" required>
          <mat-error *ngIf="registrationForm.controls['password'].errors?.required">Password is required.</mat-error>
        </mat-form-field>
        <section>
          <p>Gender:</p>
          <mat-radio-group formControlName="gender" required>
            <mat-radio-button class="radio-button-margin" value="male">Male</mat-radio-button>
            <mat-radio-button class="radio-button-margin" value="female">Female</mat-radio-button>
            <mat-radio-button class="radio-button-margin" value="other">Other</mat-radio-button>
          </mat-radio-group>
        </section>

        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="Choose a date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registrationForm.controls['dateOfBirth'].errors?.required">Date of Birth is required.</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="text-center">
    <button type="button" class="btn btn-primary" [disabled]="registrationForm.invalid" (click)="register()">Register</button>
  </div>
</div>

